@import './reset';
@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

$white: #ffffff;
$gray: #ededed;
$dark-blue: #546a76;
$light-blue: #c6dbf0;
$pink: #ff5465;
$purple: rgba(133, 77, 255, 1);

h1, h2, h3, h4{
	font-family: 'Montserrat', sans-serif;
}

.tooltip{
	display: none;
	position: absolute;
	background: rgba(0,0,0,0.4);
	padding: 3px 5px;
	border-radius: 5px;
	font-size: 12px;
	color: white;
}

.tooltip:after, .tooltip:before{
    position: absolute;
		content: " ";
		bottom: -10px;
    left: 50%;
    border: 2px solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
}

.tooltip:after {
  border-top-color: rgba(0,0,0,0.2);
  border-width: 5px;
  margin-left: -5px;
}

.tooltip:before {
  border-top-color: rgba(0,0,0,0.2);
  border-width: 5px;
  margin-left: -5px;
}

header{
	width: 100%;
	height: 7vh;
	position: fixed;
	top: 0;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: space-between;	
	background-color: white;
	.logo{
		display: flex;
		align-items: center;
		margin-left: 10%;
		height: 100%;
		cursor: pointer;
		h1{
			font-size: 28px;
			color: $pink;
			font-weight: bold;
		}
		.logo-container{
			margin-left: 20px;
			height: 30px;
			img{
				height: 100%;
				object-fit: cover;
			}
		}
	}
	nav{
		display: flex;
		align-items: center;
		.hamburger{
			visibility: hidden;
		}
		.login-button{
			color: $purple;
			display: flex;
			align-items: center;
			i{
				font-size: 18px;
				margin-right: 7px;
			}
		}
		.login-button:hover{
			color: $purple;
		}
		ul{
			display: flex;
			align-items: center;
			margin-right: 40px;
			li{
				padding: 7px 15px;
			}
			li:hover{
				transition: all .8s;
				color: gray;
			}
			.nav-more{
				position: relative;
			}
			.dropdown{
				visibility: hidden;
				position: absolute;
				top: 110%;
				left: -150%;
				z-index: 10;
				background-color: black;
				border-radius: 5px;
				display: flex;
				flex-direction: column;
				font-size: 12px;
				width: 150px;
  			box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
				align-items: flex-start;
				li{
					padding: 10px 0;
					color: $white;
					width: 100%;
					border-bottom: 1px solid black;
					text-indent: 20px;
					border-radius: 5px;
					overflow: hidden;
				}
				li:hover{
					border-bottom: 1px solid $white;
					transition: all .8s;
				}
			}
			.dropdown:after, .dropdown:before{
          position: absolute;
					content: " ";
					top: -20px;
          left: 85%;
          border: 2px solid transparent;
          height: 0;
          width: 0;
          pointer-events: none;
			}
			.dropdown:after {
        border-bottom-color: black;
        border-width: 10px;
        margin-left: -10px;
      }
      .dropdown:before {
        border-bottom-color: black;
        border-width: 10px;
        margin-left: -10px;
      }
			.nav-more:hover .dropdown{
				visibility: inherit;
			}
		}
	}
}

.slide-container{
	overflow: hidden;
	width: 100vw;
	margin-top: 7vh;
	height: 75vh;
	position: relative;
	i{
		position: absolute;
		font-size: 48px;
		color: $white;
		top: 45%;
		cursor: pointer;
	}
	.fa-angle-left{
		left: 10px;
	}
	.fa-angle-right{
		left: 95vw;
	}
	i:hover{
		color: $gray;
		transition: all .8s;
	}
	.dot{
		position: absolute;
		bottom: 20px;
		height: 20px;
		left: 25%;
		display: flex;
		width: 50%;
		align-items: center;
		justify-content: center;
		i{
			position: static;
			font-size: 7px;
			font-weight: bold;
			margin: 0 10px;
		}
	}
	.slide{
		width: 300%;
		height: 100%;
		display: flex;
		flex-direction: row;
		.slide-1, .slide-2, .slide-3{
			height: 100%;
			width: 100vw;
			.content{
				width: 50%;
				min-width: 700px;
				color: white;
				margin: 200px auto;
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				height: 30%;
				h2{
					font-size: 48px;
				}
				p{
					margin: 15px auto;
				}
				button{
					margin: 20px auto;
					padding: 9px 18px;
					border: 1px solid $white;
					font-size: 13px;
				}
				button:hover{
					background-color: $white;
					color: #333;
					transition: all .8s;
				}
			}
		}

		.slide-1{
			background-image: url('../images/background_1.jpg');
			background-size: cover;
		}
		.slide-2{
			background-image: url('../images/background_2.jpg');
			background-size: cover;

		}
		.slide-3{
			background-image: url('../images/background_3.jpg');
			background-size: cover;
		}
	}
}

.introduction{
	width: 100%;
	padding: 30px 0;
	border-bottom: 1px solid $gray;
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.introduction>div{
	width: 60%;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	.content{
		width: 350px;
		margin-right: 50px;
		div{
			padding-bottom: 30px;
			h3{
				margin: 10px 0;
			}
		}
	}
	.video{
		flex: 1;
		iframe{
			width: 100%;
		}
	}
}

.vendor-list{
	width: 100%;
	h2{
		font-size: 24px;
		font-weight: 999;
		margin-top: 50px;
		margin-bottom: 30px;
		height: 100%;
		text-align: center;
		letter-spacing: 3px;
	}
	.list{
		background-color: rgba(255, 84, 101, 0.2);
		height: 250px;
		width: 100%;
	}
}

.signup-session{
	width: 100%;
}

.signup-session>div{
	width: 60%;
	margin: 30px auto;
	display: flex;
	align-items: flex-start;
	padding: 50px 0 100px 0;
	border-bottom: 1px solid gray;
	justify-content: space-between;
	h3{
		font-size: 28px;
		font-weight: bold;
	}
	.left{
		width: 30%;
		p{
			margin-left: 25px;
		}
	}
	.right{
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		.social-buttons{
			margin-top: 50px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			i{
				font-size: 30px;
				margin: 0 10px;
				color: gray;
				cursor: pointer;
				transition: all .8s;
			}
			.fa-facebook-f:hover{
				color: #4267b2;
			}
			.fa-google-plus-g:hover{
				color: #db3236;
			}
			.fa-youtube:hover{
				color: #ff0000;
			}
			.fa-instagram:hover{
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
    		color: transparent;
				background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
			}
		}
		form{
			width: 100%;
			text-align: center;
			.form-inline{
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				margin: 15px 0;
				label{
					margin-right: 10px;
				}
				input{
					width: 60%;
					text-align: left;
					transform: translateY(-7px);
					border-bottom: 1px solid #333;
				}
				input:focus{
					transform: translateY(0);
					transition: all .8s;
				}
			}
			input[type='submit']{
				margin: 15px auto;
				padding: 10px 20px;
				text-align: center;
				border: 1px solid #333;
				border-radius: 30px;
			}
			input[type='submit']:hover{
				background-color: #333;
				color: $white;
				transition: all .8s;
			}
		}
	}
}

footer{
	width: 100%;
	.footer-category{
		min-width: 650px;
	}
	ul{
		width: 40%;
		margin: 50px auto;
		display: flex;
		align-items: flex-start;
		flex-direction: row;
		justify-content: space-around;
		li{
			color: $pink;
			font-weight: bold;
			cursor: pointer;
			ul{
				margin: 15px auto;
				width: 100%;
				display: flex;
				flex-direction: column;
				li{
					width: 100%;
					color: #333;
					font-weight: normal;
					margin: 15px 0;
				}
				li:hover{
					color: $dark-blue;
					text-decoration: underline;
					transition: all .8s;
				}
			}
		}
	}
	.copyright{
		min-width: 400px;
		font-size: 10px;
		color: gray;
		width: 40%;
		margin: 10px auto;
		text-align: center;
	}
}
